
//console.log('hello from webpack config')


module.exports = { 
    mode: 'production',
    module: {
		noParse: /node_modules\/json-schema\/lib\/validate\.js/, 
        rules: [
            {
                test: /test\/.*\.js$/,  
                exclude: /(node_modules)/,
                use: {
                    loader: 'babel-loader',
                    options: {
                        presets: ['babel-preset-env']
                    }
                }
            }
        ]
    },
    resolve: {	    
        modules: ['node_modules','bower_components','./src','./'],
		alias: {
			'd3': 'bower_components/d3/d3.min',
			'jquery' : 'bower_components/jquery/dist/jquery.min',
			'amd-inject': 'node_modules/amd-inject-loader/index'
		},
        extensions: ['.js']
    },
	output: {
     filename: '[name].js',    
     libraryTarget: 'amd'
   }
	
};