
//console.log('hello from webpack config')


module.exports = { 
    mode: 'development',
    module: {
		noParse: /node_modules\/json-schema\/lib\/validate\.js/, 
        rules: [
            {
                test: /test\/.*\.js$/,                
                use: {
                    loader: 'babel-loader',
                    options: {
                        presets: ['babel-preset-env']
                    }
                }
            },
			{
				test: /test\/.*\.js$/, 
				use: 'amd-inject-loader'
			}
        ]
    },
    resolve: {	    
        modules: ['node_modules','bower_components','./src','./'],
		alias: {
			'd3': 'bower_components/d3/d3.min',
			'jquery' : 'bower_components/jquery/dist/jquery.min'
		},
        extensions: ['.js']
    },
	output: {
     filename: '[name].js',    
     libraryTarget: 'amd'
   },
   devtool: "#inline-source-map"
	
};